@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* rwd img css，可當作是 CSS Reset 其中一個 */
img {
  max-width: 100%;
  height: auto; }

/* 全域 border box */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Global Setting */
.container {
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .container {
      padding: 0 16px; } }
  @media (max-width: 992px) {
    .container {
      padding: 0 32px; } }
  @media (max-width: 768px) {
    .container {
      padding: 0 16px; } }

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-repeat: no-repeat; }

a {
  text-decoration: none;
  color: #000; }

/* Form */
label {
  font-size: 16px;
  margin-bottom: 8px; }

input,
textarea {
  font-size: 16px;
  background-color: #fbf2f2;
  border: 1px solid #a2a2a2;
  border-radius: 2px;
  margin-bottom: 16px; }

input[type="text"],
input[type="email"],
input[type="textarea"],
textarea {
  width: 100%;
  padding: 6px 12px; }

input::-moz-placeholder {
  color: #aeaeae; }

input:-ms-input-placeholder {
  color: #aeaeae; }

input::placeholder {
  color: #aeaeae; }

button {
  background-color: #aa0601;
  color: #fff;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px; }

/* Utility */
.flex {
  display: flex; }

.space-between {
  justify-content: space-between; }

.wrap {
  flex-wrap: wrap; }

.align-center {
  align-items: center; }

.column {
  flex-direction: column; }

/* Main CSS */
nav {
  height: 80px;
  background-color: #aa0601;
  color: #fff; }
  nav .nav-main {
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center; }
  nav .logo {
    width: 80px; }
  nav .nav a {
    display: block;
    color: #fff;
    padding: 8px 32px; }
    nav .nav a:hover {
      opacity: 80%; }
  @media (max-width: 1200px) {
    nav .nav a {
      display: block;
      color: #fff;
      padding: 8px 16px; } }
  @media (max-width: 768px) {
    nav {
      padding-top: 16px;
      height: auto;
      text-align: center; }
      nav .logo {
        margin: 0 auto;
        margin-bottom: 8px; }
      nav .nav-main {
        padding: 0;
        flex-direction: column; }
      nav ul {
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        border-top: 1px solid #fff; }
        nav ul li {
          width: 50%;
          border-bottom: 1px solid #fff; }
          nav ul li:nth-child(odd) {
            border-right: 1px solid #fff; } }

.hero {
  height: 787px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #650300;
  text-align: right; }
  .hero h2 {
    font-size: 32px;
    font-weight: 400;
    padding-top: 296px; }
  .hero h3 {
    font-size: 64px;
    font-weight: 600; }
  .hero a {
    display: inline-block;
    padding: 6px 12px;
    color: #fff;
    background-color: #aa0601; }
  @media (max-width: 768px) {
    .hero {
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
      height: 396px; }
      .hero h2 {
        font-size: 16px;
        padding-top: 144px; }
      .hero h3 {
        font-size: 24px;
        margin-bottom: 8px; } }

.feature {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fbf2f2;
  text-align: center; }
  .feature h2 {
    font-size: 48px;
    color: #650300;
    margin-bottom: 32px;
    font-weight: 600; }
  .feature li {
    width: 23%; }
    .feature li img {
      width: 80px;
      margin-bottom: 24px; }
    .feature li h3 {
      font-size: 24px;
      color: #650300;
      margin-bottom: 8px; }
    .feature li p {
      text-align: left; }
  @media (max-width: 992px) {
    .feature {
      padding-bottom: 64px; }
      .feature li {
        width: 48%;
        margin-bottom: 16px; }
        .feature li img {
          margin-bottom: 8px; } }
  @media (max-width: 768px) {
    .feature {
      padding-top: 40px;
      padding-bottom: 0; }
      .feature h2 {
        font-size: 24px;
        margin-bottom: 32px; }
      .feature li {
        width: 100%;
        margin-bottom: 40px; }
        .feature li img {
          margin-bottom: 8px; } }

.product {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center; }
  .product h2 {
    font-size: 48px;
    color: #650300;
    margin-bottom: 48px;
    font-weight: 600; }
  .product li {
    width: 32%; }
    .product li img {
      margin-bottom: 8px; }
    .product li h3 {
      font-size: 48px;
      color: #aa0601;
      font-weight: 600; }
  @media (max-width: 992px) {
    .product ul {
      max-width: 480px;
      margin: 0 auto; }
    .product li {
      width: 100%;
      margin-bottom: 24px; } }
  @media (max-width: 768px) {
    .product {
      padding-top: 40px;
      padding-bottom: 40px; }
      .product h2 {
        font-size: 24px;
        margin-bottom: 24px; }
      .product li h3 {
        font-size: 32px; } }

.feature-product {
  padding: 80px 0;
  text-align: center;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  background-position: center; }
  .feature-product h2 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 48px;
    font-weight: 600; }
  .feature-product li {
    width: 50%;
    background-color: #fff; }
    .feature-product li img {
      margin-bottom: 8px; }
    .feature-product li h3 {
      color: #aa0601;
      font-size: 48px;
      font-weight: 600;
      font-style: italic;
      margin-bottom: 8px; }
    .feature-product li .product1 {
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 240px; }
    .feature-product li .product2 {
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 240px; }
  @media (max-width: 992px) {
    .feature-product {
      padding-bottom: 56px; }
      .feature-product li {
        width: 100%;
        margin-bottom: 24px; }
        .feature-product li h3 {
          font-size: 32px; } }
  @media (max-width: 768px) {
    .feature-product {
      padding-top: 40px;
      padding-bottom: 16px;
      background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
      background-position: center; }
      .feature-product h2 {
        font-size: 24px;
        margin-bottom: 24px; }
      .feature-product li .product1 {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true); }
      .feature-product li .product2 {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true); } }

.customer {
  padding-top: 80px;
  padding-bottom: 80px; }
  .customer h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 48px;
    color: #650300;
    text-align: center;
    margin-bottom: 48px; }
  .customer li {
    width: 24%;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #dee2e6;
    border-radius: 4px; }
    .customer li .content {
      padding: 16px;
      flex-direction: column;
      min-height: 205px; }
      .customer li .content h3 {
        margin-bottom: 8px;
        font-weight: 500; }
      .customer li .content p {
        font-weight: 400; }
      .customer li .content .date {
        color: #707070;
        font-weight: 300;
        font-size: 14px; }
  @media (max-width: 992px) {
    .customer li {
      width: 48%;
      margin-bottom: 24px; } }
  @media (max-width: 768px) {
    .customer {
      padding-top: 40px;
      padding-bottom: 24px; }
      .customer h2 {
        font-size: 24px;
        margin-bottom: 24px; }
      .customer li {
        width: 100%; }
        .customer li h3 {
          font-size: 24px; } }

.contact-us {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fbf2f2;
  font-size: 20px;
  font-weight: 300; }
  .contact-us .main {
    max-width: 636px;
    margin: 0 auto; }
  .contact-us form {
    margin-top: 32px;
    margin-bottom: 48px; }
  .contact-us h2 {
    font-size: 48px;
    color: #650300;
    text-align: center;
    font-weight: 600;
    margin-bottom: 48px; }
    .contact-us h2 label {
      font-size: 16px; }
  .contact-us button {
    margin-top: 100px;
    display: block;
    margin: 0 auto;
    width: 416px;
    font-size: 16px; }
  @media (max-width: 768px) {
    .contact-us {
      font-size: 16px;
      padding-bottom: 40px; }
      .contact-us .main {
        max-width: 576px; }
      .contact-us form {
        margin-bottom: 24px; }
      .contact-us h2 {
        font-size: 24px;
        margin-bottom: 24px; }
      .contact-us button {
        width: 80%; } }

footer {
  background-color: #aa0601;
  padding-top: 60px;
  padding-bottom: 32px;
  color: #fff; }
  footer a {
    display: block;
    color: #fff; }
    footer a:hover {
      opacity: 80%; }
  footer .nav-links {
    margin-bottom: 32px; }
    footer .nav-links li {
      margin-right: 48px; }
  footer .social-links img {
    width: 48px;
    margin-left: 32px; }
  footer .contact {
    font-size: 36px;
    font-weight: 300; }
    footer .contact img {
      width: 40px;
      margin-right: 24px; }
  footer .quote {
    padding-top: 32px;
    border-top: #fff 1px solid;
    margin-top: 32px; }
    footer .quote .privacy-links li {
      margin-left: 48px; }
  @media (max-width: 768px) {
    footer {
      padding-top: 24px;
      padding-bottom: 24px; }
      footer .nav-links {
        display: none; }
      footer .social-links img {
        width: 24px;
        margin-left: 8px; }
      footer .contact {
        font-size: 16px; }
        footer .contact li {
          margin-bottom: 8px; }
        footer .contact img {
          width: 24px; }
      footer .quote {
        flex-direction: column;
        margin-top: 16px;
        padding-top: 16px; }
        footer .quote .copyright {
          margin-bottom: 8px; }
        footer .quote .privacy-links {
          flex-direction: column; }
          footer .quote .privacy-links li {
            margin-left: 0;
            margin-bottom: 8px; } }

/*# sourceMappingURL=style.css.map */
